node_modules
build
.env
*.log
live-signal.err.log
live-signal.out.log
serve.err.log
serve.out.log
dist
.DS_Store
docs/
.deploys/
.deps/
artifacts/
Docker/
solidity/.deps/
solidity/artifacts/
solidity/scenario.json
solidity/scenario1.json
solidity/scenario2.json
extract_pdf.js
yarn.lock
